.language-tip {
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  padding: 30px 12px 12px;
  border-radius: 5px;
  background-color: #eaeaea;
  box-shadow: 0px 0px 5px rgb(99, 99, 99);
}

.language-tip.show {
  display: flex;
}

.language-tip > .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.language-tip > .dont-show-again-btn {
  order: 2;
  cursor: pointer;
  margin-top: 10px;
}